@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 1;
}

header h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.8em;
}

#menu ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
}

#menu a {
    color: white;
    padding: 5px;
    font-size: 1.2em;
    text-decoration: none;
    transition: background-color 0.5s, color 0.5s;
    border-radius: 8px;
}

#menu a:hover {
    background-color: white;
    color: black;
    border-radius: 8px;
}

body {
    background-color: rgb(236, 229, 218);
}

main {
    max-width: 1000px;
    padding: 10px;
    margin: auto;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.400);
    border-radius: 8px;
}

.grupo-text {
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.400);
}

main h2 {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    font-size: 1.6em;
}

.grupo p {
    text-indent: 30px;
    text-align: justify;
    line-height: 1.5em;
    margin: 20px;
}

.grupo h2 {
    padding: 5px;
    color: white;
    margin-bottom: 10px;
    background-image: linear-gradient(to right, black, transparent);
    border-radius: 8px;
}

.foto > img {
    width: 400px;
    aspect-ratio: 16/12;
    object-fit: cover;
    display: block;
    margin: auto;
    border-radius: 8px;
    border: 3px solid white;
    outline: 10px solid red;
}

.foto-integrante {
    width: 400px;
    margin: auto;
}

.foto-integrante > img {
    display: block;
    margin: auto;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    font-size: 1.2em;
}