@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: gray;
    color: black;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

header h1 {
    margin: 0 32px 5px 32px;
}

header ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

header a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    padding: 5px;
}

header a:hover {
    background-color: white;
    color: blueviolet;
    border-radius: 8px;
}

main {
    padding: 20px;
}

.apresentacao-info h2 {
    text-align: center;
    margin-bottom: 10px;
}

.apresentacao-info p {
    text-indent: 30px;
}

.apresentacao-foto img {
    display: block;
    margin: 20px auto;
    aspect-ratio: 1/1;
}

.container-jogadores {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.info-jogador {
    display: flex;
    flex-direction: column;
    align-items: center;
}