@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: gray;
    color: black;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

header h1 {
    margin: 0 32px 5px 32px;
    font-size: 1.3em;
}

header a {
    text-decoration: none;
    font-size: 1.3em;
    color: black;
}

header ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

ul a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    padding: 5px;
}

ul a:hover {
    background-color: white;
    border-radius: 8px;
}

main {
    padding: 20px;
}

#titulo-jogadores {
    text-align: center;
    margin: 30px;
    padding: 10px;
    background-image: linear-gradient(to right, black, white, red);
    border-radius: 8px;
}

.apresentacao {
    background-color: rgb(229, 226, 226);
    padding: 10px;
    border-radius: 8px;
}

.apresentacao-info h2 {
    text-align: center;
    margin-bottom: 10px;
}

.apresentacao-info p {
    text-indent: 30px;
    line-height: 1.5em;
}

.apresentacao-foto img {
    display: block;
    margin: 20px auto;
    aspect-ratio: 1/1;
}

.container-jogadores {
    display: flex;
    flex: auto;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}

.jogador-container {
    background-color: rgb(226, 222, 222);
    min-height: 400px;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
}

.jogador-foto img {
    display: block;
    margin: 0px auto 25px auto;
    
}

.info-jogador {
    background-color: rgb(179, 179, 179);
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    font-size: 1.3em;
}

footer {
    background-color: black;
    color: white;
    font-size: 1.3em;
    text-align: center;
    padding: 15px;
}

@media screen and (min-width: 768px) {
    header {
        justify-content: space-between;
    }

    header ul {
        margin-right: 20px;
    }

    .apresentacao {
        max-width: 1200px;
        margin: auto;
    }

    .container-jogadores {
        flex-flow: row wrap;
    }
}